:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 800px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row-af {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1320.988px;
  height: 89.477px;
  margin: 32px 0 0 64px;
  z-index: 10;
}
.restaurant-system {
  flex-shrink: 0;
  position: relative;
  height: 68px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 64px;
  font-weight: 400;
  line-height: 68px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.page-links {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 26px;
  position: relative;
  width: 759.988px;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 131px;
  height: 88px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #d1e8fc;
  border: none;
  z-index: 1;
}
.search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 78px;
  color: #1a4ed4;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.727px;
  text-align: left;
  text-overflow: initial;
  z-index: 2;
  overflow: hidden;
}
.hope-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 131px;
  height: 88px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #d1e8fc;
  border: none;
  z-index: 3;
}
.hope {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 78px;
  color: #1a4ed4;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.727px;
  text-align: left;
  text-overflow: initial;
  z-index: 4;
  overflow: hidden;
}
.love-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 131px;
  height: 88px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #d1e8fc;
  border: none;
  z-index: 5;
}
.love {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 78px;
  color: #1a4ed4;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.727px;
  text-align: left;
  text-overflow: initial;
  z-index: 6;
  overflow: hidden;
}
.friend-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 131px;
  height: 88px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #d1e8fc;
  border: none;
  z-index: 7;
}
.friend {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 39px;
  color: #1a4ed4;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.727px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 131px;
  height: 88px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #d1e8fc;
  border: none;
  z-index: 9;
}
.logout {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 39px;
  color: #1a4ed4;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.727px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.flex-row-d {
  position: relative;
  width: 1333px;
  height: 768px;
  margin: 92.523px 0 0 52px;
  z-index: 18;
}
.restaurant-table {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 0;
  left: 0;
  background: #ffffff;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  border: 1px solid #ccc;
  z-index: 12;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}
tr {
  font-size: 16px;
  font-family: Inter, var(--default-font-family);
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions a,
.actions button {
    margin-left: 10px;
}

.actions button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.actions a {
    text-decoration: none;
    color: #007bff;
}

.link {
    text-decoration: none;
    color: #007bff;
}

#google-map {
  position: absolute;
  width: 678px;
  height: 380px;
  top: 0;
  left: 655px;
  z-index: 11;
}
.radius {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 49px;
  top: 420px;
  left: 655px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.727px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.radius-input[type=number] {
  font-size:20px;
  position: absolute;
  width: 89px;
  height: 37px;
  top: 420px;
  left: 775px;
  background: #ffffff;
  z-index: 14;
}
.search-condition {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 39px;
  top: 420px;
  left: 880px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.727px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.search-condition-input {
  font-size:20px;
  position: absolute;
  width: 135px;
  height: 37px;
  top: 420px;
  left: 1015px;
  background: #ffffff;
  z-index: 15;
}
.start-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 148px;
  height: 59px;
  top: 408px;
  left: 1185px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  background: #d1e8fc;
  border: none;
  z-index: 18;
}
.start-search {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 39px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.727px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.line {
  position: absolute;
  width: 1440px;
  height: 25px;
  top: 140px;
  left: 0;
  background: url(./images/blue-line.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
